<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-prueba" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Prueba</name>
  <js-module name="Prueba" src="www/Prueba.js">
    <clobbers target="cordova.plugins.Prueba" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Prueba">
        <param name="android-package" value="cordova.plugin.prueba.Prueba" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/Prueba.java" target-dir="src/cordova/plugin/prueba/Prueba" />
  </platform>
</plugin>